@font-face {
    font-family: "Xarrovv";
    src: url(12517.otf); 
  }
/* 1 */
.div-color1 {
    background-color: #3399ff;
    border: 2px solid black;
}
/* 2 */
.div-color2 {
    background-color: #3399ff;
    outline: 2px solid #000
}
/* 3 */
.div-color3 {
    background-color: #3399ff;
    box-shadow: 0 0 0 2px red;
}
/* 4 */
.div-color4 {
    background-color: #3399ff;
    border-style: dashed;
    border-color: crimson;
    border-width: 2px;
}
/* 5 */
.div-color5 {
    padding: 8px;
    background-color: #3399ff;
    border-top:#000 dotted 1mm;
    border-right: red dashed 5px;
    border-bottom:green double 3px;
    border-left: purple groove 4px;
    font-family: "Xarrovv";
}
.crafty-cats {
    width: 370px;
}